body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

.todo {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.titulo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="radio"] {
    margin-right: 10px;
}
input[type="number"], button {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
button {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


